:root {
  --white: #ffffff;
  --light-gray: #7d7d7d;
  --medium-gray: #636363;
  --dark-gray: #3b3b3b;
  --light-text: #e8e8e8;
  --dark-text: #1a1a1a;
  --light-blue: #93bdfa;
  --mediun-blue: #6b92c3;
  --dark-blue: #0263d1;
}
